<!doctype html>
<html>
<title>DQA Results</title>
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
<!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
<div class="header">
  <h1 img height="100px" width ="100px" src="/static/c1_logo.png" alt="logo" </h1>
  <h1 align="center">Economic Capital Data Quality Assertion Results Summary </h1>
</div>

{% block content %}
<body>
<form action="{{ url_for('postfields') }}" method=["GET","POST"]>
<div class="form-group">
    <div align="center" class="input-group"> 
      <!-- {{all_counts |safe}} -->
      <table style>
      	<tr></tr>
      	<th>Serial Num</th>
      	<th>Field Name</th>
        <th>Total rows</th>
      	<th>Rows followrule</th>
      	<th>Null rows</th>
      	<th>Accuracy</th>
      	<th>Completeness</th>
        <th>Descriptive Statistics</th>
        <th></th>
      	{% for item in all_counts %}
      	<tr>
      		<td>
      			<div>{{loop.index}}</div>
      		</td>
      		<td>
      			<div>{{item[0][0] | safe}}</div>
      		</td>
      		<td>
      			<div>{{item[3][0] | safe}}</div>
      		</td>
      		<td>
      			<div>{{item[4][0] | safe}}</div>
      		</td>
      		<td>
      			<div>{{item[5][0] | safe}}</div>
      		</td>
      		<td>
      			<div>{{item[6][0] | safe}}</div>
      		</td>
      		<td>
      			<div>{{item[7][0] | safe}}</div>
      		</td>
          <td>
            <div>{{item[8][0] | safe}}</div>
          </td>
      </tr>
      {% endfor %} 
      </table>

    </div>
</div>
</form>
</body>
{% endblock %}
</html>
